@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8B3E1E;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
