  <header
    class="sticky top-0 z-40 bg-[#4A1F0E]/80 backdrop-blur-xl border-b border-white/5 shadow-xl"
  >
    <div class="max-w-7xl mx-auto px-4 py-5 flex items-center gap-4">
      <div class="relative">
        <div
          class="absolute inset-0 bg-[#C46A3A] rounded-full blur-md opacity-40"
        >
        </div>
        <img
          src="/abmates.jpg"
          class="relative h-14 w-14 rounded-full shadow-2xl ring-4 ring-[#C46A3A]/40 hover:rotate-6 transition"
        />
      </div>
      <div class="leading-tight">
        <h1 class="font-black tracking-tight text-2xl text-white">AB Mates</h1>
        <p class="text-sm text-[#F3E7DF]/80 font-medium">
          Mates • Termos • Accesorios
        </p>
      </div>

      <div class="ml-auto flex items-center gap-3">
        <!-- Instagram -->
        <a
          href="https://www.instagram.com/abma_tes/"
          target="_blank"
          aria-label="Instagram AB Mates"
          class="w-10 h-10 rounded-full bg-white/10 hover:bg-[#C46A3A]
           flex items-center justify-center text-white transition
           hover:scale-105 active:scale-95"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              d="M7.75 2h8.5A5.75 5.75 0 0122 7.75v8.5A5.75 5.75 0 0116.25 22h-8.5A5.75 5.75 0 012 16.25v-8.5A5.75 5.75 0 017.75 2zm0 1.5A4.25 4.25 0 003.5 7.75v8.5A4.25 4.25 0 007.75 20.5h8.5a4.25 4.25 0 004.25-4.25v-8.5A4.25 4.25 0 0016.25 3.5h-8.5z"
            ></path>
            <path
              d="M12 7a5 5 0 100 10 5 5 0 000-10zm0 1.5a3.5 3.5 0 110 7 3.5 3.5 0 010-7z"
            ></path>
            <circle cx="17.5" cy="6.5" r="1.25"></circle>
          </svg>
        </a>

        <!-- Facebook -->
        <a
          href="https://www.facebook.com/share/1CRudN6Zea/"
          target="_blank"
          aria-label="Facebook AB Mates"
          class="w-10 h-10 rounded-full bg-white/10 hover:bg-[#8B3E1E]
           flex items-center justify-center text-white transition
           hover:scale-105 active:scale-95"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              d="M13.5 9H16V6h-2.5C10.57 6 9 7.57 9 10.5V12H7v3h2v6h3v-6h2.25l.75-3H12v-1.5c0-.83.17-1.5 1.5-1.5z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </header>
